ansi2html
certifi
charset-normalizer
click
dash
dash-core-components
dash-html-components
dash-mantine-components
dash_bootstrap_components
dash-table
Flask
idna
pyarrow
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
numpy
packaging
pandas
plotly
python-dateutil
pytz
requests
retrying
six
tenacity
typing_extensions
tzdata
urllib3
Werkzeug